<!-- Modal content-->
<div>
  <form name="registerForm" action="?" method="POST">
    <div class="modal-panel">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel();"><img src="images/close.png" alt="close" /></button>
        <h4 class="modal-title">Reset your Password</h4>
      </div>
      <div class="modal-body">
        <h3 class="modal-title" style="color: #F7941E;font-size: 14px;font-weight: bolder;">To reset your password, enter your email and the characters in the image below</h3>      <!-- email field -->
        <div class="form-group">
          <label>Enter your email</label>
          <input type="email" name="email" class="form-control"
                 ng-model="email"
                 ng-minlength="5"
                 ng-maxlength="60"
                 required>
        </div>
        <br>
        <pre>
          <code><img src="/hiretrue/action/forgot_password/captcha"/></code>
        </pre>

        <div class="g-recaptcha" data-sitekey="6Ld8sgkTAAAAALHWITDXT_hz96XyU3h-Ot2cBrKe"></div>
        <input type="text" name="token" class="form-control"
               ng-model="token"
               ng-minlength="5"
               ng-maxlength="20"
               required>
        </br>
      </div>
    </div>
    <div class="modal-footer">
      <a class="cancel" href="" ng-click="cancel();">Cancel</a>
      <button ng-click="forgotPassword();" class="btn btn-danger">Submit</button>
    </div>
  </form>
</div>
