<div ng-include src="'views/nav.html'"></div>

<div class="alert alert-danger" ng-show="error" role="alert">
  <a href="#" class="alert-link">A Server Error has occurred.  If this continues, please contact your Kiosite Administrator.</a>
</div>
<img ng-show="preloader" src="images/preloader.gif">
<section class="main">
  <div class="row-fluid">
    <div class="container narrow" id="main"><div class="position-list" style="">
      <div class="well tableTitle">
        <div class="span9" style="width: 600px;">
          <h2 style="margin-top: 1px;">Manage Requisitions</h2>
        </div>
        <div class="span3" style="text-align: right;width: 270px;float: right;margin-top: -25px;">
          <input type="text" ng-model="candidateSearch" class="input-medium search-query" style="width: 190px;height: 23px; border-radius: 20px;" placeholder="Find job openings...">
        </div>
      </div>
      <div id="positions">
        <div groups="[object Object]" listattributes="[object Object]" archivestatus="false">
          <div class="tableCommandStrip">


            <!-- Table Start-->
            <table class="table table-striped" ng-repeat="requisitionList in requisitions " style="border: 2px solid #D5CACA;">
              <tr style="background-color: #D5CACA"><th colspan="7">{{requisitionList.name}}</th></tr>
              <tr>
                <th><a href="" ng-click="orderByField='position'; reverseSort = !reverseSort">Name</a></th>
                <th><a href="" ng-click="orderByField='position'; reverseSort = !reverseSort">Position</a></th>
                <th><a href="" ng-click="orderByField='department'; reverseSort = !reverseSort">Department</a></th>
                <th><a href="" ng-click="orderByField='location'; reverseSort = !reverseSort">Location</a></th>
                <th><a href="" ng-click="orderByField='recruiter'; reverseSort = !reverseSort">Recruiter</a></th>
                <th><a href="" ng-click="orderByField='status'; reverseSort = !reverseSort">Status</a></th>
                <th>Action</th>
              </tr>
              <tr class="" ng-repeat="requisition in requisitionList.requisitions | orderBy:orderByField:reverseSort ">
                <td>
                  <div class="title">
                    <span>{{requisition.position}}</span>
                  </div>
                </td>
                <td>
                  <span class="title">{{requisition.position}}</span>
                </td>
                <td>
                  <span class="status">{{requisition.department}}</span>
                </td>
                <td>
                  <span class="modified">{{requisition.location}}</span>
                </td>
                <td>
                  <span class="modified">{{requisition.recruiter}}</span>
                </td>
                <td>
                  <span class="modified">{{requisition.status}}</span>
                </td>
                <td class="action">
                  <!-- Single button -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <img src="images/actions_icon.png" width="30" height="15" alt="">
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Edit</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
      </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</section>
